<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<title>Symfony</title>
		<link rel="stylesheet" href="../css/style.css"/>
		<link rel="stylesheet" href="../css/font-awesome.min.css"/>
		<link rel="stylesheet" href="../css/font.css"/>
		<meta name="robots" content="noindex,nofollow,noarchive,nocache"/>
		<meta name="robots" content="noimageindex"/>
	</head>

	<body>
		<section class="w3l-header">
			<header id="site-header" class="fixed-top">
				<div class="container">
					<nav class="navbar navbar-expand-lg navbar-dark stroke">
						<a class="navbar-brand" href="../index.html">
							ASSENSE Laurent
						</a>

						<button class="navbar-toggler collapsed bg-gradient" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
							<span class="navbar-toggler-icon fa icon-close fa-times"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item active">
									<a class="nav-link" href="../index.html">Accueil
										<span class="sr-only">(current)</span>
									</a>
								</li>
								<li class="nav-item @@contact-active">
									<a class="nav-link" href="../parcours.html">Parcours de certification</a>
								</li>
								<li class="nav-item @@contact-active">
									<a class="nav-link" href="../projet.html">Projets</a>
								</li>
								<li class="nav-item dropdown @@pages-active">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										CV et stages réalisés&nbsp;&nbsp;<span class="fa fa-angle-down"></span>
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="../documents/ASSENSE_Laurent_CV.pdf" target="_blank" ret="noreferre">CV
										</a>
										<a class="dropdown-item" href="../documents/stages/ASSENSE Laurent rapport de stage.pdf" target="_blank" ret="noreferre">Stage 1ère année</a>
										<a class="dropdown-item" href="../documents/stages/ASSENSE Laurent rapport de stage2.pdf" target="_blank" ret="noreferre">Stage 2nde année</a>
									</div>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</header>
		</section>

		<br/><br/><br/><br/>

		<section class="presentation">
			<h1>Projet GsbVeto : Gestion des relations avec les vétérinaires</h1>

			<h3>Contexte</h3>
			<br/>
			<p>
				Afin d’améliorer la promotion de ses produits vétérinaires, le
												        laboratoire GSB a mis en place un système de gestion des relations avec
												        les vétérinaires. Il s’agit de :
			</p>
			<br/>
			<br/>
			<p class="alinea">
				Effectuer un suivi régulier des vétérinaires afin de connaitre leurs
												        problèmes, répondre à leurs questions éventuelles, …<br/>
				Les visiteurs médicaux sont chargés de contacter régulièrement les
												        vétérinaires clients pour répondre au mieux à leurs<br/>
				besoins et anticiper la promotion des nouveaux produits
			</p>
			<br/><br/>
			<p class="alinea">
				Fixer des objectifs commerciaux sur les produits GSB vendus par les
												        vétérinaires clients, afin de mieux cerner le marché,<br/>
				voire anticiper les changements de comportements des consommateurs.
			</p>
			<br/><br/>
			<h3>Architecture applicative</h3>
			<br/>
			<p>Architecture MVC</p>
			<br/>
			<h3 class="pt-5">Langages et Frameworks utilisés</h3>
			<br/>
			<p>> PHP</p>
			<p>> Docker</p>
			<p>> Bootstrap</p>
			<p>> Symfony</p>
			<br/>
			<h3 class="pt-5">Compétences</h3>
			<br/>
			<details><summary>Gérer le patrimoine informatique</summary>
			▸ Recenser et identifier les ressources numériques<br>
			▸ Exploiter des référentiels, normes et standards adoptés par le prestataire informatique<br>
			▸ Mettre en place et vérifier les niveaux d’habilitation associés à un service<br>
			▸ Gérer des sauvegardes			
			</details>
			<br>
			<details><summary>Répondre aux incidents et aux demandes d’assistance et d’évolution</summary>
			▸ Collecter, suivre et orienter des demandes<br>
			▸ Traiter des demandes concernant les applications
			</details>
			<br>
			<details><summary>Travailler en mode projet</summary>
			▸ Analyser les objectifs et les modalités d’organisation d’un projet<br>
			▸ Planifier les activités<br>
			▸ Évaluer les indicateurs de suivi d’un projet et analyser les écarts
			</details>
			<br/>

			<h3 class="pt-5">Images</h3>
			<div class="imgProjet1">
				<img src="../images/liste-objectif-fixe.jpg">
			</div>
			<div class="imgProjet">
				<img src="../images/date-maj-prod.jpg">
			</div>
			<div class="imgProjet">
				<img src="../images/veto-categ.jpg">
			</div>
			<div class="imgProjet">	
				<img src="../images/user-role.jpg">
			</div>
			<div class="imgProjet">
				<img src="../images/user-role-edit.jpg">
			</div>
			<br/>
			<br/>
			<h3 class="pt-5">Fichiers</h3>			
			<div class="pdf">
				<a href="../documents/gsb-veto.pdf" aria-expanded="false" target="_blank" ret="noreferre">
					<img src="../images/pdf.png" class="img-fluid img-curve" alt=""/>
					<p>GSB veto</p>
				</div>

			</section>
			<br/><br/><br/><br/><br/><br/><br/>
			<footer>
				<section class="w3l-footer" style="position: relative">
					<div class="w3l-footer-16-main py-5">
						<div class="container">
							<div class="below-section pt-4 mt-5 text-center">
								<p>
									&copy; ASSENSE Laurent - Parcours de certification
																													                complémentaire et portfolio - Chantilly
								</p>
							</div>
						</div>
					</div>

					<button onclick="topFunction()" id="movetop" title="Go to top">
						<span class="fa fa-angle-up"></span>
					</button>
					<script>
						// window.onscroll = function () {
// scrollFunction()
// };

// function scrollFunction() {
// if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
//     document.getElementById("movetop").style.display = "block";
// } else {
//     document.getElementById("movetop").style.display = "none";
// }
// }

function topFunction() {
document.body.scrollTop = 0;
document.documentElement.scrollTop = 0;
}
					</script>

					<!-- <script>
																	            $(function () {
																	              $('.navbar-toggler').click(function () {
																	                $('body').toggleClass('noscroll');
																	              })
																	            });
																	          </script> -->
				</section>
			</footer>

			<script src="../js/jquery-1.9.1.min.js"></script>
			<script>
				$(function () {
$(".navbar-toggler").click(function () {
$("body").toggleClass("noscroll");
});
});
			</script>

			<script>
				$(window).on("scroll", function () {
var scroll = $(window).scrollTop();

if (scroll >= 80) {
$("#site-header").addClass("nav-fixed");
} else {
$("#site-header").removeClass("nav-fixed");
}
});

$(".navbar-toggler").on("click", function () {
$("header").toggleClass("active");
});
$(document).on("ready", function () {
if ($(window).width() > 991) {
$("header").removeClass("active");
}
$(window).on("resize", function () {
if ($(window).width() > 991) {
$("header").removeClass("active");
}
});
});
			</script>

			<script src="../js/bootstrap.min.js"></script>
		</body>
	</body>
</html></body></html>
